body{
    padding: 0px;
}
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:url('./bg11.png');
    background-size: cover; /* This ensures that the background image covers the entire container */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-position: center;
    filter: blur(0px); /* Adjust the blur value as needed */
    -webkit-backdrop-filter: blur(0px); /* For compatibility with some browsers */
    backdrop-filter: blur(0px);
    z-index: -1; /* Send it to the background */
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the alpha value for the desired transparency */
    z-index: -1;
  }
  .content {
    /* Your content styles go here */
    position: relative;
    z-index: 1; /* Bring it to the foreground */
  }
  
  